
body {
background-color: #fff2f8;
}

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap');

button:hover{
    background-color: #99c7e1;
}


#text{
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 5px;
    background-color: #abdefa;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

#text::placeholder{
    color: black; opacity: 0.7;
    
}

#search{
    margin-right: 5px;
    background-color: #abdefa;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;

}

#reset{
    margin-right: 5px;
    background-color: #abdefa;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

#add{
    margin-right: 5px;
    background-color: #abdefa;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.book {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    color: 	rgb(10, 10, 17);
    background-color: 	#ffeaf5;
}

.book h2 {
    margin-top: 0;
}

.book p {
    margin-bottom: 5px;
}


.book button {
    margin-right: 5px;
    background-color: #c7b4ff;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.book button:hover {
    background-color: #b3a2e5;
}

.book h2{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.book .delete-book {
    margin-right: 5px;
    background-color: #ff5f62e7;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.book .delete-book:hover {
    background-color: #ff3c35;
}


